/* Reset of styles start */
:root {
  /* colors */
  --cv-white: white;

  /* font-sizes */
  --cv-font-size-large: 6rem;
  --cv-font-size-medium: 3rem;
  --cv-font-size-ms: 2rem;
  --cv-font-size-regular: 2.5rem;
  --cv-font-size-small: 1.25rem;

  /* line-height */
  --cv-line-height: 120%;

  /* component-sizes */
  --cv-component-size-large: 35rem;
  --cv-component-size: 25rem;
}

body {
  margin: 0 auto;
  background-color: #0e1b22;
  color: var(--cv-white);

  font-family: Gudea;
  font-size: var(--cv-font-size-regular);
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cv-white);
}

h1 {
  margin: 0;
  font-size: var(--cv-font-size-large);
}

h2 {
  margin: 0;
  font-size: var(--cv-font-size-medium);
}
/* Reset of styles end */

/* Reuseable start*/
.block-wrapper {
  margin: 0 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Reuseable end*/

/* Header styles start */
.wrapper_header {
  padding: 0.75rem 2.5rem;
  border-bottom: var(--cv-white) solid 1px;

  background: url(./assets/About/beautiful.gif) no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cv-white);
}

.logo {
  font-size: var(--cv-font-size-ms);
}

.cv-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
  font-size: var(--cv-font-size-small);
  font-family: Inter;
}

.nav-link {
  text-decoration: none;
  color: var(--cv-white);

  margin-right: 2rem;
}

.nav-link:focus,
.nav-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  font-size: var(--cv-font-size-large);
  line-height: var(--cv-line-height);
}

.about {
  font-size: var(--cv-font-size-large);
  font-family: Gruppo;
}
/* Header styles end */

/*Running title start*/
.running-wrapper {
  font-size: var(--cv-font-size-large);
  font-style: normal;
  font-weight: 700;
  line-height: var(--cv-line-height);
  text-transform: uppercase;
}

.running-title {
  color: transparent;
  letter-spacing: var(--cv-font-size-small);
  -webkit-text-stroke: 1px var(--cv-white);
}

.running_text_container {
  overflow: hidden;
}

.running_text_container div {
  animation: running_text 10s linear infinite;
  white-space: nowrap;
}

.running_text {
  display: inline-block;
  transform: translateX(100%);
}

@keyframes running_text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*Running title end*/

/* Blocks styles start */
.title {
  font-size: var(--cv-font-size-medium);
  font-weight: 700;
  line-height: var(--cv-line-height);

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 4rem;
}

.image-circle {
  object-fit: cover;

  width: var(--cv-component-size);
  height: var(--cv-component-size);
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-text {
  width: 55%;
  text-align: justify;

  line-height: 120%;
}

.info-block {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  align-items: center;

  margin-bottom: 2rem;
}
/* Blocks styles end */

.languages {
  width: 20%;
  padding: 1.5rem 1.25rem 0;

  display: flex;
  flex-direction: column;

  font-size: var(--cv-font-size-ms);
  font-style: italic;
  text-align: center;

  border: 0.2rem solid rgb(255, 255, 255, 0.5);
}

.list {
  padding: 0;
  list-style-type: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}

.card {
  min-width: 35rem;
  padding: 1.25rem;
  background-color: rgb(111, 98, 98, 0.3);

  @media screen and (max-width: 600px) {
    min-width: fit-content;
  }
}

.progress-bar {
  width: 100%;
  height: 1.25rem;
  background-color: #715a41;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #55372b;
}

.card-language {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 120%;
}
